@tailwind base;
@tailwind components;
@tailwind utilities;

passage-auth {
  --passage-primary-color: #314ad8;
  --passage-header-text-color: #eee;
  --passage-body-text-color: #eee;
  --app-text: #000;
}
